<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">

                <h2>Movies</h2>
                <ul>
                    <li><%= movie1 %></li>
                    <li><%= movie2 %></li>
                    <li><%= movie3 %></li>
                    <li><%= movie4 %></li>
                </ul>

    
    </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>